<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406606233683-aba99r480m677ile4rebo8fn64bfht0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406606233683-aba99r480m677ile4rebo8fn64bfht0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406606233683-qutau86jou0fdomrhaelbbiahcllut3r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF03OzRMrPXuVQgkPbxMhExPlNr7yB_mU</string>
	<key>GCM_SENDER_ID</key>
	<string>406606233683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.rushnation.paynon</string>
	<key>PROJECT_ID</key>
	<string>paynon</string>
	<key>STORAGE_BUCKET</key>
	<string>paynon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406606233683:ios:6cebe0a1745c16ef2bc6a6</string>
</dict>
</plist>